# Assignment 5 Questions

## Problem Statement

#### Task 1:

Read the dataset from the bellow link

url = https://raw.githubusercontent.com/hadley/data-baby-names/master/baby-names.csv

Questions

1. Delete unnamed columns

In [6]:
import pandas as pd
d = {'col1': [1, 2], 'col2': [3, 4]}
df = pd.DataFrame(data=d)
df.drop(df.columns[df.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)

2. Show the distribution of male and female

In [9]:
import math

def gender_code(gender_string):
    if isinstance(gender_string, float) and math.isnan(gender_string):
        return gender_string
    return int(gender_string == "Female")

3. Show the top 5 most preferred names

In [9]:
import pandas as pd
data = pd.read_csv("https://raw.githubusercontent.com/hadley/data-baby-names/master/baby-names.csv", encoding="Latin-1")
data.head

df = pd.DataFrame({'cod':['aggc','abc'], 'name':[23124,23124],
                   'sum_vol':[37,19], 'date':[201610,201611],
                    'lat':[-15.42, -15.42], 'lon':[-32.11, -32.11]})

gg = df.groupby(['name','date']).cod.value_counts().to_frame()
gg = gg.rename(columns={'cod':'count_cod'}).reset_index()
df_top_freq = gg.groupby(['name', 'date']).head(5)

4. What is the median name occurence in the dataset

In [6]:
import pandas as pd
data = pd.read_csv("https://raw.githubusercontent.com/hadley/data-baby-names/master/baby-names.csv", encoding="Latin-1")
data.head

   year     name   percent  sex
0  1880     John  0.081541  boy
1  1880  William  0.080511  boy
2  1880    James  0.050057  boy
3  1880  Charles  0.045167  boy
4  1880   George  0.043292  boy

5. Distribution of male and female born count by states

In [4]:
import pandas as pd
data = pd.read_csv("https://raw.githubusercontent.com/hadley/data-baby-names/master/baby-names.csv", encoding="Latin-1")
data.head()
import math

def gender_code(gender_string):
    if isinstance(gender_string, float) and math.isnan(gender_string):
        return gender_string
    return int(gender_string == "Female")

#### Task 2:

We have the min and max temperatures in a city In India for each months of the year. We
would like to find a function to describe this and show it graphically, the dataset given below.

    Task:
    1. fitting it to the periodic function
    2. plot the fit
    
    Data
    Max = 39, 41, 43, 47, 49, 51, 45, 38, 37, 29, 27, 25
    Min = 21, 23, 27, 28, 32, 35, 31, 28, 21, 19, 17, 18

In [5]:
import numpy as np

temp_max = np.array([39, 41, 43, 47, 49, 51, 45, 38, 37, 29, 27, 25])
temp_min = np.array([21, 23, 27, 28, 32, 35, 31, 28, 21, 19, 17, 18])

import matplotlib.pyplot as plt
months = np.arange(12)
plt.plot(months, temp_max, 'go')
plt.plot(months, temp_min, 'co')
plt.xlabel('Month')
plt.ylabel('Min and max temperature')

Text(0, 0.5, 'Min and max temperature')